.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5rem
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-container form div {
    margin-bottom: 15px;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-container button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .signup-container {
        padding: 10px;
    }

    .signup-container input,
    .signup-container button {
        padding: 8px;
    }
}