/* General styles for the header */
.header {
  background-color: #333;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s ease-out;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
 border-radius: 50%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.nav {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-item {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item:hover {
  color: #e67e22; /* Change the text color on hover */
  transform: scale(1.1); /* Slightly enlarge the text on hover */
}

.nav-item:active {
  transform: scale(1); /* Return to the original size on click */
}

/* Animation for the whole header */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    width: 100%;
    margin-top: 20px;
    justify-content: flex-start;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .nav-item {
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }

  .logo-image {
    max-width: 120px; /* Adjust logo size for mobile */
  }
}
